.card{
    width: 100%;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}
.rating{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.rating input{
    display: none;
}
.rating label{
    position: relative;
    width: 160px;
    height: 120px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0.3;
}
.rating:hover label{
    width: 160px;
    opacity: 0.2;
}
.rating input:hover + label,
.rating input:checked + label{
    filter: grayscale(0);
    opacity: 1;
    width: 160px;
}
.rating label h4{
    color:black;
    font-size: 26px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: 700;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;

}

.rating input:hover + label h4,
.rating input:checked + label h4{
    opacity: 1;
    transform: translateY(0) scale(1);
}
.text{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    width: 800px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    font-size: 36px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.text-emoji{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 36px;

}
